.footer {
    margin-top: 2rem;
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-text {
    color: white;
    font-weight: 400;
    font-size: 24px;
}

@media screen and (max-width:470px) {

    .footer-img {
        height: 20px;
        width: 61px;
    }

    .footer-text {
        font-size: 12px;
    }
}