.main-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.error-nbr {
    color: var(--red-color);
    font-size: 300px;
    font-weight: bolder
}

.error-oups {
    color: var(--red-color);
    font-weight: 400;
    font-size: 36px;
}

.error-return {
    color: var(--red-color);
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width:830px) {

    .main-error {
        gap: 3rem;
    }

    .error-nbr {
        font-size: 230px;
    }

    .error-oups {
        text-align: center;
        font-size: 24px;
    }

    .error-return {
        font-size: 20px;
    }
}

@media screen and (max-width:470px) {

    .error-nbr {
        font-size: 150px;
    }

    .error-oups {
        text-align: center;
        font-size: 18px;
        width: 60%;
    }

    .error-return {
        font-size: 14px;
    }
}